body{
	background: url("background.jpg");
	font-family:sans-serif;
}
.btn{
	width:80px;
	height:30px;
	border:none;
	position:relative;
	top:-40px;
}
.btn:hover{
	background:white;
	color:black;
}
#header{
	font-size:30px;
	font-weight:bold;
}
#text-container{
	text-align:center;
}
#question-container{
	display:none;
}

